.navbar {
  color: white;
  background: rgb(141, 65, 10);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.logo {
  height: 50px;
  color: white;
}

.nav-item {
  font-size: 30px;
}

.nav-item {
display: flex;
justify-content: flex-end ;
}


@media screen and (min-width: 1000px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    margin-left: 50px;
  }
}
