h2 {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-image: url(forest.jpg);
    height: 400px;
    margin-bottom: 80px;
}